body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #b3b3b3;
}

h2 {
  text-align: center;
}

h4 {
  text-decoration: underline;
}

h2,
h4,
h5 {
  padding: 1% 0;
}

a {
  color: #b3b3b3;
}

/* Navbar */

.navbar {
  background-color: #232324;
}

.nav-container {
  margin-left: 10%;
  margin-right: 10%;
}

.links {
  display: flex;
}

/* Main Content */

.outer-main {
  margin-top: 75px;
}

.inner-main {
  border: solid;
  padding: 4%;
}

hr {
  border: 1px solid #c4c4c4;
}

/* Footer */

.box {
  flex: 1 1 auto;
  height: 50px;

  display: flex;
  flex-flow: column;
  /* height: 100%; */
}

footer {
  background-color: #232324;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
}

/* Mobile */

@media (max-width: 780px) {
  .hide-sm {
    display: none;
  }

  div.container.nav-container {
    display: flex;
    justify-content: center;
  }
}
